.container {
    width: 90%;
    margin: 0 auto;
}
.btn {
    display: block;
    @include flex(center, center);
    width: 180px;
    height: 50px;
    text-decoration: none;
    box-shadow: 0 0px 30px rgba($white, 0.4);
    @include border-radius(70px);
    border: 2px solid $white;
    color: $white;
    transition: all 0.3s;
    &:hover {
        color: $white;
        background-color: $red;
        box-shadow: 0 0px 30px rgba($white, 0.7);
        cursor: pointer;
        @include transform(translateY(-5px));
    }
}

.section-title {
    h2 {
        text-align: center;
        color: $red;
        font-size: 36px;
        font-weight: lighter;
        text-transform: uppercase;
    }
}

.section-container {
    padding: 50px 0;
}

.hr {
    width: 40%;
    color: $red;
    margin: 0 auto;
}

