footer {
    height: 80px;
    background-color: $grey;
    position: relative;
    .author {
        @include flex(center, center);
        @include flex-direction(column-reverse);
        height: 100%;
        overflow: hidden;
        .brand {
            display: inline-block;
            font-size: 15px;
            color: $white;
            &:after {
                // content: '\00a9  Bhind 2017-2018'
            }
        }
        .footer-legal {
            padding-top: 5px;
            a {
                font-size: 15px;
                color: $white;
                text-decoration: none;            
            }

        }
        .social-links {
            .icon {
                width: 29px; height: 29px;
                background-size: 90% 90%;
                background-repeat: no-repeat;
                display: inline-block
    
            }
    
            .facebook {
                background-image: url('../img/facebook.svg');
            }
            .instagram {
                background-image: url('../img/instagram.svg');
            }
            .youtube {
                background-image: url('../img/youtube.svg');
            }
        }
    }

}